{% extends 'cms/template.html' %}

{% block header %}{% endblock header %}
{% block jumbotron %}{% endblock jumbotron %}

{% block content %}

<!-- Used to centre the form -->
<div class="col-md-4"></div>

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="col-md-4" style="text-align: center">

	<!-- Display validation errors if there were any -->
	{% if form.errors %}
		<div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
	{% endif %}

	<!-- For preventing cross site request forgery attacks -->
	{% csrf_token %}

	<p>{{ form.username }}</p>
	<p>{{ form.password }}</p>

	<button class="btn btn-primary" type="submit">Log in</button>
	<input type="hidden" name="next" value="{{ next }}" />

</form>

{% endblock content %}