.navbar-inverse .navbar-brand {
	color: white;
}

#media-search-results {
	margin: 0;
	padding: 0;
	list-style: inside;
	margin-top: 20px;
}

#add-media-form .form-content, #add-media-form .form-file {
	display: none;
}

/* Select2 is bugs when trying to calculate the width sometimes, this 'fixes' it */
.select2-container {
	width: 300px !important;
}