{% extends 'frontend/template.html' %}

{% block content %}

	<h1>{{ page_title }}</h1>
	<hr/>
	{% for story in stories %}

		<article class="frontend-story clearfix" data-story-id="{{ story.story.id }}">
			<div class="pull-left frontend-arrows">
				<div data-type="up" class="upvote step fi-arrow-up size-24"></div>
				<div class="votes" id="{{ story.story.id }}-votes">{{ story.votes.total }}</div>
				<div data-type="down" class="downvote step fi-arrow-down size-24"></div>
			</div>
			<div class="pull-left">
				<h3>
					<a href="{% url 'story-view' slug=story.story.slug id=story.story.id %}" title="{{ story.story.title }}">{{ story.story.title }}</a>
				</h3>

				<a href="{% url 'story-view' slug=story.story.slug id=story.story.id %}" class="btn btn-default btn-sm">
					<img class="img-circle" height="21" width="21" src="{{ user.avatar }}?s=21"/>&nbsp;&nbsp;By {{ story.story.author.first_name }} {{ story.story.author.last_name }} on {{ story.story.date_created }}
				</a>
			</div>
		</article>
		<hr/>

	{% endfor %}

{% endblock content %}