{% extends 'frontend/template.html' %}

{% block content %}

	<article>
		<header class="frontend-story single-frontend-story clearfix"  data-story-id="{{ story.id }}">
			<div class="pull-left frontend-arrows">
				<div data-type="up" class="upvote step fi-arrow-up size-24"></div>
				<div id="{{ story.id }}-votes">{{ votes.total }}</div>
				<div data-type="down" class="downvote step fi-arrow-down size-24"></div>
			</div>
			<div class="pull-left">
				<h3>
					<a href="{% url 'story-view' slug=story.slug id=story.id %}" title="{{ story.title }}">{{ story.title }}</a>
				</h3>

				<a href="{% url 'story-view' slug=story.slug id=story.id %}" class="btn btn-default btn-sm">
					<img class="img-circle" height="21" width="21" src="{{ story.author.avatar }}?s=21"/>&nbsp;&nbsp;By {{ story.author.first_name }} {{ story.author.last_name }} on {{ story.date_created }}
				</a>
			</div>
		</header>
		<hr/>

		{{ story.content|safe }}
	</article>

{% endblock content %}