{% extends 'cms/template.html' %}

{% block content %}

	<div class="col-md-4">
		<div class="well">
			<h4>Totals</h4><br/>
			<table class="table">
				<thead>
					<tr>
						<th>Type</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Media</td>
						<td><span class="label label-success">{{ media_count }}</span></td>
					</tr>
					<tr>
						<td>Stories</td>
						<td><span class="label label-success">{{ story_count }}</span></td>
					</tr>
					<tr>
						<td>Users</td>
						<td><span class="label label-success">{{ user_count }}</span></td>
					</tr>
					<tr>
						<td>Groups</td>
						<td><span class="label label-success">{{ group_count }}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-md-4">
		<div class="well">
			<h4>Stories</h4><br/>
			<table class="table">
				<thead>
					<tr>
						<th>Status</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Published</td>
						<td><span class="label label-success">{{ published_count }}</span></td>
					</tr>
					<tr>
						<td>Draft</td>
						<td><span class="label label-success">{{ draft_count }}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

{% endblock content %}