<!doctype html>
<html>
<head>
	<title>{% block title %}WINA CMS{% endblock %}</title>

	<link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
	<!-- <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css"/> -->
</head>

<body style="padding-top: 50px;">

	{% block header %}
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">WINA</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">A</a></li>
					<li><a href="#about">B</a></li>
					<li><a href="#contact">C</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	{% endblock %}

	<div class="container">
		{% block content %}{% endblock %}
	</div>

</body>
</html>