<!doctype html>
<html>
<head>
	<title>{{ title }} | WINA CMS</title>

	<link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="/static/shared/css/select2.css"/>
	<link type="text/css" rel="stylesheet" href="/static/shared/css/main.css"/>
	<link type="text/css" rel="stylesheet" href="/static/cms/css/main.css"/>
</head>

<body style="{% if no_padding != True %}padding-top: 50px;{% endif %}">

	{% block header %}
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'cms-home' %}">WINA</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'cms-home' %}">Home</a></li>
					<li><a href="{% url 'media-home' %}">Media</a></li>
					<li><a href="{% url 'story-home' %}">Stories</a></li>
					<li><a href="{% url 'user-home' %}">Users</a></li>
					<li><a href="{% url 'group-home' %}">Groups</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'logout' %}">Log Out</a></li>
				</ul>
			</div>
		</div>
	</div>
	{% endblock %}

	<!-- Display any general messages if there are any -->
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}" style="margin: auto;">
				<div class="container">{{ message }}</div>
			</div>
		{% endfor %}
	{% endif %}

	{% block jumbotron %}
		<div class="jumbotron">
			<div class="container">
				<h1>{{ title }}</h1>
			</div>
		</div>
	{% endblock %}

	<div class="container">
		{% block content %}{% endblock %}
	</div>

	<!-- Epic layout hack -->
	<div style="height: 40px;"></div>

	<script src="/static/shared/js/jquery.min.js"></script>
	<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
	<script src="/static/shared/js/select2.min.js"></script>
	<script src="/static/shared/js/main.js"></script>
	<script src="/static/cms/js/main.js"></script>
</body>
</html>